body{
    background-color:black;
    text-align: center;

}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    font-size: 1rem;
}

.game{
width: 50%;
margin-left: 25%;
font-family: "Libre Baskerville", serif;
color: white;
}

.dragon{
    width: 100%;
    border: 5px solid white;

    
}